body {
    background-color: #3D2B46;
    font-family: 'Pixelify Sans', monospace;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
}

.header {
    height: 78px;
    width: 98%;
    background-color: #84708E;
    border-radius: 26px;
    font-size: 48px;
    display: flex;
    box-shadow: 7px 6px 5.5px rgba(0,0,0,0.5);
}
h3 {
  font-weight: normal;
  margin: 0 auto;
}

.main_content {
    background-image: url('./assets/img/background.png');
    height: 896px;
    width: 896px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 32px;
    border-radius: 32px;
    margin: 20px 0px 20px 0px;
    box-shadow: 7px 6px 8.4px rgba(0,0,0,0.5);
}
.icons {
    display: flex;
    align-self: flex-start;
    gap: 16px;
}
.settingsicon {
    height: 74px;
    width: 74px;
}
.wandicon {
    height: 75px;
    width: 60px;
}

.timer{
    height: 143px;
    width: 396px;
    background-color: #84708E;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 6px 8.4px rgba(0,0,0,0.5), inset 8px 10px 7.2px rgba(0,0,0,0.5);
}
.timer span{
    font-size: 96px;
}

.wizard {
    padding-top: 72px;
}
.wizard img{
    height: 401px;
    width: 281px;
    filter: drop-shadow(0 4px 8px rgba(255, 255, 255, 0.3));
}


.footer {
    height: 78px;
    width: 98%;
    background-color: #84708E;
    border-radius: 26px;
    font-size: 48px;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 7px 6px 5.5px rgba(0,0,0,0.5);
}
.footer span{
    font-size: 18px;
}